html(lang="en")
    head
        meta(charset="UTF-8")
        block title
            title fishJS
        link(rel="stylesheet" type="text/css" href="css/main.css")
        script(src="js/abbreviations.js" type="application/javascript")

    body
        nav
            ul
                li
                    a(href="/") Home
                li
                    a(href="/webpack") Webpack
        block content

        block js-assets
