extends ../baseLayout.jade

block content

block js-assets
    if(useStatic)
        script(src="webpack.bundle.js")
    else
        script(src="http://localhost:3001/webpack.bundle.js")
    //script(src="webpack.bundle.js")