extends ../baseLayout.jade

block content

block js-assets
    if(useStatic)
        link(rel="stylesheet" type="text/css" href="styles.css")
        script(src="app.bundle.js")
    else
        //link(rel="stylesheet" type="text/css" href="http://localhost:3001/styles.css")
        script(src="http://localhost:3001/node_modules/lodash/lodash.js")
        script(src="http://localhost:3001/app.bundle.js")
    //script(src="webpack.bundle.js")